body { 
  padding-top: 51px; 
}

.navbar{
  background-color: rgba(255, 165, 0, 0.75) !important;
}

.navbar-text {
  float: right;
}

.fr {
  float: right;
}

.mt {
  margin-top: 20px;
}

.diff {
  p {
    padding: 5px;
  }
}

.notice {
  margin-top: 20px;
  padding: 10px;
  text-align: center;
}

textarea.form-control.document-text-area {
  height: 300px;
}